

table, th, td {
  border: 1px solid;
}

table{
  width: fit-content;
  border-spacing: 20px;

}

td{
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  
}

tr{
  padding: 50px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hidden{
  display: none;
}

#custom-game-prompt{
  background-color:lightblue;
  width: 400px;
  height: 300px;
  position: absolute;

  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  text-align: center;

}

.inactive{
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: popupExit 0.5s;
}

.active {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*Create an animation so it looks the the popup came from the top of the screen*/
  animation: popupEnter 0.5s;

}

@keyframes popupEnter {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

@keyframes popupExit {
  0% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}

#custom-game-prompt h1{
  font-size: xx-large;
}

#custom-game-start-btn{
  background-color: lightgreen;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: large;
}